.favorite-container img{
    width: 100px;
    height: 100px;
}

.favorite{
    width: 150px;
    display: inline-block;
}

.favorite-container{
    background-color: rgb(41, 41, 85);
    color: white;
    height: 100vh;
}

button{
    background-color: goldenrod;
    color: black;
}

#star{
  color: goldenrod;
}