.trending-Container img{
    width: 100px;
    height: 100px;
}

.trending{
    width: 150px;
    display: inline-block;
}

.trending-Container{
    background-color: rgb(41, 41, 85);
    color: white;
    height: 100vh;
}

button{
    background-color: goldenrod;
    /* background-color: rgb(41, 41, 85); */
    color: black;
}

#heart {
    position: relative;
    width: 10px;
    height: 9px;
    display: inline-block;
  }
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 5px;
    top: 0;
    width: 5px;
    height: 8px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }



