.trending-Container img{
    width: 100px;
    height: 100px;
}

.trending{
    width: 150px;
    display: inline-block;
}

.trending-Container{
    background-color: rgb(41, 41, 85);
    color: white;
    height: 100%;
    width: 100%;
}

button{
    background-color: goldenrod;
    color: black;
}

#star{
  color: goldenrod;
}
