body{
    margin: auto;
    text-align: center;
    background-color: rgb(41, 41, 85);
}

.movie-container{
    margin: auto;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(134,47,247,1) 37%, rgba(0,212,255,1) 100%);
    
}
.movie-info{
    font-family: 'Kanit', sans-serif;

}
.movie-img{
    width: 400px;
    height: 500px;
    border: solid black 10px ;
}

button{
    position: relative;
    transition: all .45s ease-Out;
    overflow: hidden;
    cursor: pointer;
    padding: auto;
    border-radius: 13%;
    border-color: black;
}

.movie-title{
    color: black;
}

.overview-description{
    padding: 0px 200px;
}
