body{
    margin: auto;
    text-align: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(134,47,247,1) 37%, rgba(0,212,255,1) 100%);

}
.movie-img{
    width: 400px;
    height: 500px;
    /* float: left;s */
    /* padding: 50px; */
    border: solid black 10px ;
}

p{
    padding-left: 100px;
    padding-right: 100px;
    
}

button{
    position: relative;
    transition: all .45s ease-Out;
    overflow: hidden;
    cursor: pointer;
    padding: auto;
    border-radius: 13%;
    border-color: black;
}
