.top-rated-container img{
    width: 100px;
    height: 100px;
}

.top-rated{
    width: 150px;
    display: inline-block;
}

.top-rated-container{
    background-color: rgb(41, 41, 85);
    color: white;
    height: 100%;
}

button{
    background-color: goldenrod;
    color: black;
}

#star{
  color: goldenrod;
}